{% extends "layout.html" %}
{% block content %}
<div class="container leading-loose mx-auto flex justify-center mt-8">
  <form class="max-w-xl m-4 p-10 bg-white rounded shadow-xl flex-grow" method="POST">
    {{  form.hidden_tag() }}
    <p class="text-gray-800 font-medium text-xl">Move Product</p>
    <div id="product">
        <label class="block text-sm text-gray-600" for="from_location">{{ form.product_id.label }}</label>
        {% if form.product_id.errors %}
            {{ form.product_id(class="w-full px-5 py-2 border-2 border-red-400 text-red-700 bg-gray-200 rounded", placeholder="Product", id="product_id") }} 
            <div class="text-red-600">
                {% for error in form.product_id.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>  
        {% else %}
            {{ form.product_id(class="w-full px-5 py-2 text-gray-700 bg-gray-200 rounded", placeholder="Product", id="product_id")}}
        {% endif %}
    </div>
    <div class="flex justify-between">
        <div id="fromLocation" class="flex-1 mr-2">
            <label class="block text-sm text-gray-600" for="from_location">{{ form.from_location.label }}</label>
            {% if form.from_location.errors %}
                {{ form.from_location(class="w-full px-5 py-2 border-2 border-red-400 text-red-700 bg-gray-200 rounded", placeholder="From", id="from_location") }} 
                <div class="text-red-600">
                    {% for error in form.from_location.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>  
            {% else %}
                {{ form.from_location(class="w-full px-5 py-2 text-gray-700 bg-gray-200 rounded", placeholder="From") }}
            {% endif %}
        </div>
        <div id="toLocation" class="flex-1 ml-2">
            <label class="block text-sm text-gray-600" for="to_location">{{ form.to_location.label }}</label>
            {% if form.to_location.errors %}
                {{ form.to_location(class="w-full px-5 py-2 border-2 border-red-400 text-red-700 bg-gray-200 rounded", placeholder="From", id="to_location") }} 
                <div class="text-red-600">
                    {% for error in form.to_location.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>  
            {% else %}
                {{ form.to_location(class="w-full px-5 py-2 text-gray-700 bg-gray-200 rounded", placeholder="From") }}
            {% endif %}
        </div>
    </div>
    <div id="qty" class="">
        <label class="block text-sm text-gray-600" for="qty">{{ form.qty.label }}</label>
        {% if form.qty.errors %}
            {{ form.qty(class="w-full px-5 py-1 border-2 border-red-400 text-red-700 bg-gray-200 rounded", placeholder="Quantity", id="qty") }} 
            <div class="text-red-600">
                {% for error in form.qty.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>  
        {% else %}
            {{ form.qty(class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded", placeholder="Quantity", id="qty") }}
        {% endif %}
    </div>
    <div class="mt-4">
      {{ form.submit(class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded", type="submit") }}
    </div>
  </form>
</div>
{% endblock content %}