{% extends "layout.html" %}
{% block content %}
    <section class="text-gray-700 body-font">
        <div class="container px-12 py-8 mx-auto -m-4 sm:px-16 lg:px-24">
            <table class="border-collapse w-full">
                <thead>
                    <tr>
                        {% if movements %}
                            <th class="p-3 font-bold uppercase bg-indigo-200 text-indigo-800 border-r border-gray-300 hidden lg:table-cell rounded-tl-lg">Product</th>
                            <th class="p-3 font-bold uppercase bg-indigo-200 text-indigo-800 border-r border-gray-300 hidden lg:table-cell">Warehouse</th>
                            <th class="p-3 font-bold uppercase bg-indigo-200 text-indigo-800 hidden lg:table-cell rounded-tr-lg">Quantity</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% if not movements %}
                    <div class="w-full">
                        <h2>No items found!! Please move product in the inventory from Movements tab.</h2>
                    </div>
                    {% else %}
                        {% for movement in movements %}
                            <tr class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
                                <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                                    <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Product</span>
                                    {{ product.get(movement.product_id).product_name }}
                                </td>
                                <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                                    <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Warehouse</span>
                                    {{ movement.to_location }}
                                </td>
                                <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                                    <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Quantity</span>
                                    <span class="rounded text-white bg-indigo-400 py-1 px-3 text-xs font-bold">{{ qty.filter_by(to_location=movement.to_location, from_location="", product_id=movement.product_id).first().qty }}</span>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock content %}

