{% extends "layout.html" %}
{% block content %}
    <section class="text-gray-700 body-font">
        <div class="container px-8 lg:px-24 py-8 mx-auto flex flex-wrap -m-4">
            {% if not movements%}
                <div class="px-4 sm:px-8 lg:px-0 w-full">
                    <h2>No items found!! Please add movement by clicking on Move Item button.</h2>
                </div>
            {% else %}
                {% for movement in movements %}
                    <a class="flex w-full bg-white mx-3 mb-1 rounded" href="{{ url_for('movements_bp.movement', movement_id=movement.movement_id, qty=movement.qty) }}">
                        <div class="self-center p-2 sm:py-4 sm:px-8 flex-row border-r-2 border-indigo-200">
                            <div class="mb-1 font-semibold text-xs sm:text-sm">{{ movement.timestamp.strftime('%d %b, %y') }}</div>
                            <div class="text-gray-500 font-bold text-xs ">{{ movement.timestamp.strftime('%H:%M %p') }}</div>
                        </div>
                        <div class="flex-1 sm:py-4 sm:px-6">
                            <div class= "text-gray-600 py-1 sm:py-2 sm:flex">
                                <div class="mx-2 sm:mx-0 p-2 sm:p-3 border-b-2 border-indigo-200 sm:border-b-0">
                                    <span class="rounded text-white bg-indigo-400 py-1 px-2 text-xs sm:text-sm font-bold mr-2">{{ movement.qty }}</span>
                                    <span class="font-semibold text-sm sm:text-lg">{{ products.get(movement.product_id).product_name }}</span>
                                </div>
                                <div class="border-r-2 ml-4 border-indigo-200 mr-3 hidden sm:block md:-my-3 {% if not movement.from_location or not movement.to_location %} sm:hidden {% endif %}"></div>
                                <div class="flex p-3 {% if not movement.to_location %} flex-row-reverse float-left {% endif %}">
                                    <span class="font-semibold text-sm sm:text-lg mr-2 md:ml-2 md:mr-6 {% if not movement.from_location %} hidden {% endif %}">{{ movement.from_location }}  
                                    </span>
                                    <span class="inline-block {% if not movement.to_location %} mr-4 {% endif %}">
                                        <svg class="fill-current text-indigo-400 h-6 w-6 sm:h-8 sm:w-8" {% if not movement.to_location %} transform="rotate(180)" {% endif %}  viewBox="0 1 24 24">
                                            <path d="M16 7.328V4l8 8-8 8v-3.328L0 12z"/>
                                        </svg>
                                    </span>
                                    <span class="font-semibold text-sm sm:text-lg mx-2 md:ml-6 {% if not movement.to_location %} hidden {% endif %}">{{ movement.to_location }}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock content %}

