{% extends "layout.html" %}
{% block content %}
<section class="text-gray-700 body-font">
    <div class="container mx-auto px-12 py-24 md:flex-row flex-col items-center">
        <a class="flex w-full bg-white mx-3 mb-1 rounded" href="{{ url_for('movements_bp.movement', movement_id=movement.movement_id) }}">
            <div class="self-center p-4 px-8 flex-row border-r-2 border-indigo-200">
                <div class="mb-1 font-semibold">{{ movement.timestamp.strftime('%d %b, %y') }}</div>
                <div class="text-gray-500 font-bold text-xs">{{ movement.timestamp.strftime('%H:%M %p') }}</div>
            </div>
            <div class="flex-1 py-4 px-6">
                <div class= "text-gray-600 py-2 sm:flex">
                    <div class="p-3 border-b-2 border-indigo-200 sm:border-b-0">
                        <span class="rounded text-white bg-indigo-400 py-1 px-2 text-sm font-bold mr-2">{% if qty == None %}{{ movement.qty }}{% else %}{{ qty }}{% endif %}</span>
                        <span class="font-semibold text-lg">{{ products.get(movement.product_id).product_name }}</span>
                    </div>
                    <div class="border-r-2 ml-4 border-indigo-200 mr-3 hidden sm:block md:-my-3 {% if not movement.from_location or not movement.to_location %} sm:hidden {% endif %}"></div>
                    <div class="flex p-3 {% if not movement.to_location %} flex-row-reverse float-left {% endif %}">
                        <span class="font-semibold text-lg mr-2 md:ml-2 md:mr-6 {% if not movement.from_location %} hidden {% endif %}">{{ movement.from_location }}  
                        </span>
                        <span class="inline-block {% if not movement.to_location %} mr-4 {% endif %}">
                            <svg class="fill-current text-indigo-400 h-8 w-8" {% if not movement.to_location %} transform="rotate(180)" {% endif %}  viewBox="0 1 24 24">
                                <path d="M16 7.328V4l8 8-8 8v-3.328L0 12z"/>
                            </svg>
                        </span>
                        <span class="font-semibold text-lg mx-2 md:ml-6 {% if not movement.to_location %} hidden {% endif %}">{{ movement.to_location }}</span>
                    </div>
                </div>
            </div>
        </a>
        <div class="flex justify-between ml-3 -mr-3 mt-2">
            <div class="p-2 text-gray-600">
                {% if qty == None %}{{ movement.qty }}{% else %}{{ qty }}{% endif %} {{ products.get(movement.product_id).product_name }} was 
                {% if movement.from_location and movement.to_location %}  
                    moved from {{ movement.from_location }} location to {{ movement.to_location }} location.
                {% elif not movement.from_location %}
                    added into {{ movement.to_location }} location.
                {% elif not movement.to_location %}
                    removed from {{ movement.from_location }} location.
                {% endif %}
            </div>
            <div class="flex content-end">
                <a href="{{ url_for('movements_bp.update_movement', movement_id=movement.movement_id) }}" class="inline-flex self-center text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg cursor-pointer">Edit</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}