{% extends "layout.html" %}
{% block content %}
    <section class="text-gray-700 body-font">
        <div class="container px-6 py-4 mx-auto flex flex-wrap -m-4">
            {% if not products%}
                <div class="p-3 px-6 sm:px-2 w-full">
                    <h2>No items found!! Please add product by clicking on Add Product button.</h2>
                </div>
            {% else %}
                {% for product in products %}
                    <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                        <a href="{{ url_for('products_bp.product', product_id=product.product_id) }}">
                            <div class="block relative h-48 rounded overflow-hidden">
                                <img alt="car" class="object-cover object-center w-full h-full block" src="{{ url_for('static', filename='img/' + product.product_image_file) }}">
                            </div>
                            <div class="mt-4">
                                <h2 class="text-gray-900 title-font text-lg font-medium">{{ product.product_name }}</h2>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock content %}

