{% extends "layout.html" %}
{% block content %}
    <section class="text-gray-700 body-font">
        <div class="container pl-10 pr-6 py-4 mx-auto flex flex-wrap -m-4">
            {% if not products%}
                <div class="p-3 px-6 sm:px-2 w-full">
                    <h2>No items found!! Please add product by clicking on Add Product button.</h2>
                </div>
            {% else %}
                {% for product in products %}
                    <div class="w-1/2 md:w-1/3 lg:w-1/4 py-4 px-2 productsGrid">
                        <a href="{{ url_for('products_bp.product', product_id=product.product_id) }}">
                            <div class="block relative h-32 sm:h-48 rounded overflow-hidden">
                                <img alt="car" class="object-cover object-center w-full h-full block" src="{{ url_for('static', filename='img/' + product.product_image_file) }}">
                            </div>
                            <div class="mt-4">
                                <h2 class="text-gray-900 title-font text-lg font-medium">{{ product.product_name }}</h2>
                            </div>
                        </a>
                    </div>
                    <div class="hidden productsList ml-3 mr-4 mt-4 lg:pr-20">
                        <a href="{{ url_for('products_bp.product', product_id=product.product_id) }}" class="flex bg-white rounded-lg">
                            <div class="block relative w-64 h-32 sm:h-48 overflow-hidden rounded-l-lg self-center">
                                <img alt="car" class="object-cover object-center w-full h-full block" src="{{ url_for('static', filename='img/' + product.product_image_file) }}">
                            </div>
                            <div class="">
                                <div class="font-semibold text-gray-900 pt-2 pb-1 pl-4 sm:pt-6 sm:px-8 text-base xs:text-lg">{{ product.product_name }}</div>
                                <div class="text-gray-600 text-xs xs:text-sm pb-2 pl-4 sm:pb-6 sm:px-8">
                                    {% if not product.product_description %}
                                        This is a default description for product, please update the product with a brief description.
                                    {% else %}
                                        {{ product.product_description }}
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock content %}

